.input {
	width: 50px;
	pointer-events: none;
}

#loadBoard {
	margin: 5px;
	width: 100px;
	height: 50px;
	background-color: green;
}

#minesLeft {
	width: 15px !important;
}

.square {
	width: 16px;
	height: 16px;
	float: left;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	
	box-shadow: 1px 1px #888888;
}

.active {
	
}

.blank {
	background-image: url('blank-square.png');
}

.nextRow {
	clear: both;
}

.one {
	color: blue;
}

.two { 
	color: green;
}

.three {
	color: red;
}

.four {
	color: black;
}

.five {
	color: brown;
}

#gameBoard {
	margin-top: 20px;
	width: 480px;
	height: 218px;
}

#gameBoard-container {
	width: 480px;
	background-color: #c0c0c0;
}

#colours tbody tr td {
	width: 50px;
	height: 50px;
}